<a href="https://colab.research.google.com/github/jihyunjeongme/data-science/blob/master/%EB%8D%B0%EC%9D%B4%ED%84%B0_%EC%A0%84%EC%B2%98%EB%A6%AC_%ED%8C%90%EB%8B%A4%EC%8A%A4(Pandas)_get_dummies_%EC%82%AC%EC%9A%A9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 레이블 인코딩(Label encoding)

In [0]:
from sklearn.preprocessing import LabelEncoder

In [3]:
import pandas as pd

df = pd.DataFrame({'item':['핸드폰', '에어팟', '아이패드', '무소음선풍기', '공기청정기','공기청정기','전기장판','전기장판']})
df

     item
0     핸드폰
1     에어팟
2    아이패드
3  무소음선풍기
4   공기청정기
5   공기청정기
6    전기장판
7    전기장판

In [4]:
pd.get_dummies(df)

   item_공기청정기  item_무소음선풍기  item_아이패드  item_에어팟  item_전기장판  item_핸드폰
0           0            0          0         0          0         1
1           0            0          0         1          0         0
2           0            0          1         0          0         0
3           0            1          0         0          0         0
4           1            0          0         0          0         0
5           1            0          0         0          0         0
6           0            0          0         0          1         0
7           0            0          0         0          1         0