<a href="https://colab.research.google.com/github/jihyunjeongme/data-science/blob/master/%ED%95%AD%EA%B3%B5%EA%B8%B0%EC%A7%80%EC%97%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive

drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [4]:
cd /content/gdrive/My Drive/Colab Notebooks/dataanalysis/빅콘테스트

/content/gdrive/My Drive/Colab Notebooks/dataanalysis/빅콘테스트

In [5]:
ls

AFSNT.csv  AFSNT_DLY.csv  SFSNT.csv

In [0]:
import numpy as np
import pandas as pd

data_afsnt = pd.read_csv('AFSNT.csv', encoding='CP949')

In [20]:
data_afsnt.head()

   SDT_YY  SDT_MM  SDT_DD SDT_DY   ARP   ODP  ...    STT    ATT DLY  DRR CNL  CNR
0    2017       1       1      일  ARP3  ARP6  ...  10:05  10:32   N  NaN   N  NaN
1    2017       1       1      일  ARP3  ARP6  ...   9:30   9:31   N  NaN   N  NaN
2    2017       1       1      일  ARP3  ARP6  ...  12:45  13:03   N  NaN   N  NaN
3    2017       1       1      일  ARP3  ARP6  ...  13:25  14:09   Y  C02   N  NaN
4    2017       1       1      일  ARP3  ARP6  ...  16:10  16:31   N  NaN   N  NaN

[5 rows x 17 columns]

In [21]:
data_afsnt.describe()

              SDT_YY         SDT_MM         SDT_DD
count  987709.000000  987709.000000  987709.000000
mean     2017.794231       5.956420      15.705550
std         0.746196       3.366872       8.788141
min      2017.000000       1.000000       1.000000
25%      2017.000000       3.000000       8.000000
50%      2018.000000       6.000000      16.000000
75%      2018.000000       9.000000      23.000000
max      2019.000000      12.000000      31.000000

In [22]:
data_afsnt.count()

SDT_YY    987709
SDT_MM    987709
SDT_DD    987709
SDT_DY    987709
ARP       987709
ODP       987709
FLO       987709
FLT       987709
REG       979446
AOD       987709
IRR       987709
STT       987709
ATT       987709
DLY       987709
DRR       118937
CNL       987709
CNR         8259
dtype: int64